<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        * {
            margin: 0px;
            padding: 0px;
            color: #ffffff;
        }

        body {
            background-color: #313335;
            overflow-x: hidden;
        }

        span.d-none {
            display: none;
        }
        pre {
            background-color: #5B6E89;
            color: #fff;
            padding: 20px 20px;
            border-radius: 5px;
        }

        .commentaries code {
            background-color: #5B6E89;
            color: #fff;
            padding: 1px 5px;
            border-radius: 5px;
        }

        .content {
            margin: 0;
            width: 90vw;
            padding: 30px 20px;
        }

        .content span {

        }

        .content p {
            margin: 40px 0;
        }

        .content h3 {
            font-size: 22pt;
        }

        .content .container-resposta {
            display: flex;
            color: #fff;
            background-color: #424242;
            border-radius: 5px;
            width: 100%;
        }
        .content .container-resposta .score {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 200px;
        }

        .content .user-response{
            padding: 20px 20px;
        }

        .content .container-resposta div:first-child {
            background-color: #5B6E89;
            border-radius: 5px;
        }

        .commentaries {
            padding: 20px 0;
            /*background-color: #424242;*/
            margin: 0 20px;
            width: 90vw;
            border-radius: 5px;
        }

        .flex--item{
            display: none;
        }

        .answers-title {
            margin-left: 20px;
            margin-bottom: 5px;
            font-size: 22pt;

        }

        .commentaries a {
            display: none;
        }

        .commentaries .js-post-comments-component {
            display: none;
        }

        .commentaries .s-prose {
            padding: 30px 20px;
            margin: 30px 20px;
            border-radius: 5px;

            background-color: #6d6d6d;
        }


        .commentaries .s-prose pre {
            margin: 30px 0;
        }

        .title span {
            margin-top: 10px;
            font-size: 12pt;
        }

        #description {
            background-color: #424242;
            padding: 20px 20px;
            margin-top: 20px;
            border-radius: 5px;
        }

    </style>
    <title>POST DETAIL</title>
</head>
<body>
<div class="content">
    <div class="title">
        <h3>{{post.title}}</h3>
        <span><i>{{post.tags}}</i></span>
    </div>
    <div  id="description">
        {{{post.descriptionComponent}}}
    </div>
    <h3 class="answers-title">Answers</h3>
    <div class="commentaries">
        {{{post.answersComponent}}}
    </div>
</div>
</body>